.root{
    -fx-background-color: white, derive(skyblue, 50%);
    -fx-background-insets: 0, 10;
    -fx-background-image: url("images/backround4.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}
.button{
    -fx-background-color: linear-gradient(#919191, #0f0505);
    -fx-background-radius: 62;
    -fx-text-fill: white;
}
.chart-bar {
    -fx-bar-fill: rgba(29, 0, 13, 0.52);
}
.menu .label
{
    -fx-text-fill: #919191
}
